body{
    background-image: url(../img/fondo.jpg);
}
#columna1 {
    position:absolute;
    top:0px;
    left:0px;
    width:650px;
    margin-top:10px;
    background-color:#6655ff;
  }
  #columna2 { 
    margin-left:670px;
    margin-right:20px;
    margin-top:10px;  
    background-color:#bbffe0;
  }

caption
{
  font-family:arial;
  font-size:15px;
  text-align: center;
  margin: 0px;
  font-weight: bold;
  padding:10px;
}
img, figcaption {
    float:right;
  }
table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color:#00ff40
    }
th
{
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0.5em;
  background-color:#6495ed;;
}

thead th
{
  background-color: #6495ed;
  color: #fff;
}
tr:nth-child(3n+2) {
  background-color:rgb(0, 255, 195);
}

tbody th
{
  font-family:arial;
  font-weight: normal;
  background-color: #6495ed;
  color:#ff0;
}

td {
  border: 1px solid #000;
  padding: .5em;
  width:100px;
  text-align:center;
}

.cuadrado{
        list-style-type:square;
        text-align: left;
        display:inline-block;
        

      }
 ul li:first-child {
        color: rgb(0, 255, 191);
        font-weight: bold;
      }
ul li:last-child {
        color: rgb(255, 170, 0);
        font-weight: bold;
      }

#fondo {
    background-color:red;
    border-style:solid;
    font-family:verdana;
    

    
      }
 #fondo::first-letter{
  font-size:1.5rem;
  color:rgb(128, 255, 0);

}
.resaltadop{
    
    color:#000000;
    margin:25px;
    background-color:rgb(0, 255, 174);
    border-width:1px;
    border-style:solid;
    font-family:verdana;
    font-size:25px;
}
strong::before {
  content:"¡";
}

strong::after {
  content:"!";
}